@model  FinwaveClientFrontOffice.Models.User

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<h1 class="mb-4 text-login">Forget Your Password?</h1>
@using (Ajax.BeginForm("ResetPassward", "Login", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "handleSuccess", OnBegin = "OnResetPasswardBegin" }, new { @id = "frmResetPassward" }))
{
<div class="form-group p-11 ico-add ico-add-forget-pass">
    @Html.TextBoxFor(e => e.ClientCode, new { @class = "form-control-1 form-control-rounded", placeholder = "Client Code", autocomplete = "off" })
    @Html.ValidationMessageFor(model => model.ClientCode, "", new { @class = "text-danger" })
</div>
    <div class="d-flex mt-1">
        <h1 class="text-16 mr-3"><strong> Receive on</strong></h1>
        <label class="radio radio-outline-primary">
            @Html.RadioButtonFor(model => model.ReceiveType, "Email", new { @checked = true })
            <span style="font-size: 16px;
                              font-weight: 600; position: relative; top:-2px;color:#a3a3a3">Email</span><span class="checkmark"></span>
        </label>
        <label class="radio radio-outline-primary">
            @Html.RadioButtonFor(model => model.ReceiveType, "SMS") <span style="font-size: 16px;
                              font-weight: 600;position: relative; top:-2px;color:#a3a3a3">SMS</span><span class="checkmark"></span>
        </label>
    </div>
    <div class="captcha-box">
        <h3 name="generateCaptchaCode" id="idCaptchaCode"></h3>
        <button type="button" id="idResetCaptcha" class="anchor-button">
            <a href="javascript:void(0);"  onclick="ResetCaptcha();">
                <img src="~/Content/images/loader.svg">
            </a>
        </button>
        @Html.TextBoxFor(e => e.CapchaCode, new { @class = "form-control-2 form-control-captcha-01", @id = "idEnteredCapchaCode", placeholder = "Captcha", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.CapchaCode, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-rounded btn-primary1 btn-primary-sing-in-01 btn-block mt-2 p-22 reset-button-01">
        Reset
    </button>
}
<div class="row">
    <div class="col-md-12">
        <div class="mt-1 tc1 mar-pass">
            <a class="text-muted" href='@Url.Action("Index","Login")'>
                <u>Back to Login</u>
            </a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#idCaptchaCode").text(RendomStringGenerator(6));
        $("#idEnteredCapchaCode").val('');
    });

    function RendomStringGenerator(length) {
        var result = '';
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for (var i = 0; i < length; i++) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        return result;
    }

    function ResetCaptcha() {
        $("#idEnteredCapchaCode").val('');
        $("#idCaptchaCode").text(RendomStringGenerator(6));
    }

    function OnResetPasswardBegin() {
        if (!$("#idEnteredCapchaCode").val()) {
            Notify(false, "CaptchaCode field value is required.");
            return false;
        }
        else if ($("#idCaptchaCode").text().trim() != $("#idEnteredCapchaCode").val().trim()) {
            Notify(false, "CaptchaCode not matched.");
            return false;
        }
    }

</script>