@model  FinwaveClientFrontOffice.Models.User
@{
    ViewBag.Title = "UserRegistar";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    string clientcode = Model?.ClientCode;
}

@if (TempData["Notification"] != null)
{
    <script type="text/javascript">
        showNotificationMessage('@Html.Raw(HttpUtility.JavaScriptStringEncode(Convert.ToString(TempData["Notification"])))');
    </script>
}
<h1 class="mb-4 text-login">Register</h1>
@using (Ajax.BeginForm("UserDetailByClientCode", "Login", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "handleCheckClientSuccess" }, new { @id = "frmUserRegistar" }))
{
    <div class="form-group ico-add">
        @Html.TextBoxFor(e => e.ClientCode, new { @class = "form-control-1 form-control-rounded", placeholder = "Client Code", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.ClientCode, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-rounded btn-primary1 btn-primary-sing-in-01 btn-block mt-2 p-22 reset-button-01">Generate OTP</button>
}
<div id="idUserRegistar" class="clsOtpDetails">
    <div class="d-flex mt-5 reg">
        <img src="~/Content/Login/dist-assets/images/otp-icon.svg">
        <div class="otp-wrapper otp-event">
            <div class="otp-container">
                <input type="tel" id="otp-number-input-1" class="otp-number-input otp-number-input-02" maxlength="1" autocomplete="off">
                <input type="tel" id="otp-number-input-2" class="otp-number-input" maxlength="1" autocomplete="off">
                <input type="tel" id="otp-number-input-3" class="otp-number-input" maxlength="1" autocomplete="off">
                <input type="tel" id="otp-number-input-4" class="otp-number-input" maxlength="1" autocomplete="off">
                <input type="tel" id="otp-number-input-5" class="otp-number-input" maxlength="1" autocomplete="off">
                <input type="tel" id="otp-number-input-6" class="otp-number-input otp-number-input-01" maxlength="1" autocomplete="off">
            </div>
        </div>
    </div>
    @using (Ajax.BeginForm("ResendOtp", "Login", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "handleSuccess" }, new { @id = "frmUserResendOtp" }))
    {
        <div class="resend-otp">
            <button type="submit" class="anchor-button">Resend OTP</button>
        </div>
    }

    @using (Html.BeginForm("SaveDetails", "Login", null, FormMethod.Post, new { @id = "frmSaveUserDetails" }))
    {
        @Html.HiddenFor(x => x.MobileOtp)
        <div class="form-group p-11 ico-add-01">
            @Html.PasswordFor(e => e.Password, new { @class = "form-control-1 form-control-rounded passwork-login", placeholder = "Password", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group p-11 ico-add-01">
            @Html.PasswordFor(e => e.ConformPassword, new { @class = "form-control-1 form-control-rounded passwork-login", placeholder = "Conform password", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.ConformPassword, "", new { @class = "text-danger" })
        </div>
        <button type="button" id="btnSignIn" class="btn btn-rounded btn-primary1 btn-primary-sing-in-01 btn-block mt-2 p-22 reset-button-01">Sign In</button>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <div class="mt-1 tc1 mar-pass">
            <a class="text-muted" href='@Url.Action("Index","Login")'>
                <u>Back to Login</u>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">


    $(document).ready(function () {
        if ('@clientcode') {
            $('.clsOtpDetails').show();
            $("#frmUserRegistar").valid()
        }
        else {
            $('.clsOtpDetails').hide();
        }
        $('.otp-event').each(function () {
            var $input = $(this).find('.otp-number-input');
            var $submit = $(this).find('.otp-submit');
            $input.keydown(function (ev) {
                otp_val = $(this).val();
                if (ev.keyCode == 37) {
                    $(this).prev().focus();
                    ev.preventDefault();
                } else if (ev.keyCode == 39) {
                    $(this).next().focus();
                    ev.preventDefault();
                } else if (otp_val.length == 1 && ev.keyCode != 8 && ev.keyCode != 46) {
                    otp_next_number = $(this).next();
                    if (otp_next_number.length == 1 && otp_next_number.val().length == 0) {
                        otp_next_number.focus();
                    }
                } else if (otp_val.length == 0 && ev.keyCode == 8) {
                    $(this).prev().val("");
                    $(this).prev().focus();
                } else if (otp_val.length == 1 && ev.keyCode == 8) {
                    $(this).val("");
                } else if (otp_val.length == 0 && ev.keyCode == 46) {
                    next_input = $(this).next();
                    next_input.val("");
                    while (next_input.next().length > 0) {
                        next_input.val(next_input.next().val());
                        next_input = next_input.next();
                        if (next_input.next().length == 0) {
                            next_input.val("");
                            break;
                        }
                    }
                }

            }).focus(function () {
                $(this).select();
                var otp_val = $(this).prev().val();
                if (otp_val === "") {
                    $(this).prev().focus();
                } else if ($(this).next().val()) {
                    $(this).next().focus();
                }
            }).keyup(function (ev) {
                otpCodeTemp = "";
                $input.each(function (i) {
                    if ($(this).val().length != 0) {
                        $(this).addClass('otp-filled-active');
                    } else {
                        $(this).removeClass('otp-filled-active');
                    }
                    otpCodeTemp += $(this).val();
                });
                if ($(this).val().length == 1 && ev.keyCode != 37 && ev.keyCode != 39) {
                    $(this).next().focus();
                    ev.preventDefault();
                }
                $input.each(function (i) {
                    if ($(this).val() != '') {
                        $submit.prop('disabled', false);
                    } else {
                        $submit.prop('disabled', true);
                    }
                });

            });
            $input.on("paste", function (e) {
                window.handlePasteOTP(e);
            });
        });
    });

    $("#idUserRegistar").off('click', '#btnSignIn');
    $("#idUserRegistar").on('click', '#btnSignIn', function () {
        var strMobileOtp = "";
        $(".otp-number-input").each(function () {
            strMobileOtp += $(this).val()
        });
        $("#MobileOtp").val(strMobileOtp);
        if (!$("#MobileOtp").val()) {
            Notify(false, 'Please enter otp.')
            return false;
        }
        $("#frmSaveUserDetails").submit();
    });

</script>
